.student-container {
  position: relative;
}

.student-info {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.student-info p {
  margin: 0;
}

.knt {
  margin-left: 20%;
  margin-bottom: 10px;
  width: fit-content;
  border: #4caf50 solid 2px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 50px;
}

.middle-part {
  float: left;
}
